body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.headers nav {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    margin: 10px 50px;
    background-color: white;
}

nav h1 {
    padding-left: 15px;
}


nav a:visited,
nav a:link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.order a:visited,
.order a:link {
    text-decoration: none;
    color: green;
}


/* hero section starts */

.hero {
    display: flex;
    gap: 10px;
    margin: 0 50px;
}

.hero img {
    width: 301px;
    height: 301px;

}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 10px;
    row-gap: 10px;
    margin: 0 50px;

}

.item {
    display: flex;
    border: 5px solid white;
    text-align: justify;
    background-color: white;
    box-sizing: border-box;
    transition: .5s;
}

.item:hover {
    box-shadow: 0px 0px 5px black;

}

.item img {
    padding-top: 0px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.item s {
    color: red;
}

/* hero section ends */